NET "ftdi_tck" LOC = "P70" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_tdi" LOC = "P69" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_tdo" LOC = "P67" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_tms" LOC = "P66" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_d4"  LOC = "P65" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_d5"  LOC = "P64" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_d6"  LOC = "P62" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_d7"  LOC = "P61" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c0"  LOC = "P60" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c1"  LOC = "P59" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c2"  LOC = "P58" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c3"  LOC = "P57" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c5"  LOC = "P56" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "ftdi_c6"  LOC = "P51" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
