NET "io1<0>"       LOC = "P74" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<1>"       LOC = "P75" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<2>"       LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<3>"       LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<4>"       LOC = "P80" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<5>"       LOC = "P81" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<6>"       LOC = "P82" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<7>"       LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<8>"       LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<9>"       LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK;
NET "io1<10>"      LOC = "P87" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<11>"      LOC = "P88" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<12>"      LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<13>"      LOC = "P93" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<14>"      LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<15>"      LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<16>"      LOC = "P97" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<17>"      LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<18>"      LOC = "P99" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<19>"      LOC = "P100" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<20>"      LOC = "P101" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<21>"      LOC = "P102" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<22>"      LOC = "P104" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<23>"      LOC = "P105" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
