*.o
*.cf
*.vcd
tb
*.ghw
*.lst
*.lxt
*.pyc
__pycache__
ise-build/
*.bgn
*.bit
*.mcs
*.xrpt
xlnx_auto_0_xdb/
xilinx_device_details.xml
webtalk.log
usage_statistics_webtalk.html
*.lso
*.srp
*.drc
*.xwbt
par_usage_statistics.html
_xmsgs/
*.xmsgs
isim/
isim*.wdb
isim.log
*.nlf
*.sdf
*.vcd
*.vcd.tmp
*.wcfg
fuse.log
fuseRelaunch.cmd
*-build
*.data
*.cfi
*.jou
*.log
*.zip
*.prm
out
usage.rpt
_impact.cmd
*.svf
