NET "clk" LOC =  "P55" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK | PERIOD = 83.33 ns;

NET "en"   LOC = "P32" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "led"  LOC = "P43" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "act<0>" LOC = "P74" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<1>" LOC = "P75" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<2>" LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<3>" LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<4>" LOC = "P80" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<5>" LOC = "P81" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<6>" LOC = "P82" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<7>" LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<8>" LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<9>" LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<10>" LOC = "P87" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<11>" LOC = "P88" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<12>" LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<13>" LOC = "P93" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<14>" LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<15>" LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<16>" LOC = "P97" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<17>" LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<18>" LOC = "P99" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<19>" LOC = "P100" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<20>" LOC = "P101" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<21>" LOC = "P102" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<22>" LOC = "P104" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "act<23>" LOC = "P105" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
