# PMOD0_IO0
IO_LOC  "j6_io[1]" V18;
IO_PORT "j6_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO2
IO_LOC  "j6_io[2]" G21;
IO_PORT "j6_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO4
IO_LOC  "j6_io[3]" F18;
IO_PORT "j6_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO6
IO_LOC  "j6_io[4]" C22;
IO_PORT "j6_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO1
IO_LOC  "j6_io[5]" E18;
IO_PORT "j6_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO3
IO_LOC  "j6_io[6]" G22;
IO_PORT "j6_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO5
IO_LOC  "j6_io[7]" E18;
IO_PORT "j6_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD0_IO7
IO_LOC  "j6_io[8]" B22;
IO_PORT "j6_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
