# PMOD1_IO0
IO_LOC  "j7_io[1]" W19;
IO_PORT "j7_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO2
IO_LOC  "j7_io[2]" F19;
IO_PORT "j7_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO4
IO_LOC  "j7_io[3]" E22;
IO_PORT "j7_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO6
IO_LOC  "j7_io[4]" E21;
IO_PORT "j7_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO1
IO_LOC  "j7_io[5]" W20;
IO_PORT "j7_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO3
IO_LOC  "j7_io[6]" F20;
IO_PORT "j7_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO5
IO_LOC  "j7_io[7]" D22;
IO_PORT "j7_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
# PMOD1_IO7
IO_LOC  "j7_io[8]" D21;
IO_PORT "j7_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
