IO_LOC "sdram_dq_io[0]" E14;
IO_PORT "sdram_dq_io[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[1]" E13;
IO_PORT "sdram_dq_io[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[2]" C15;
IO_PORT "sdram_dq_io[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[3]" C14;
IO_PORT "sdram_dq_io[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[4]" B13;
IO_PORT "sdram_dq_io[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[5]" C13;
IO_PORT "sdram_dq_io[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[6]" A14;
IO_PORT "sdram_dq_io[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[7]" A13;
IO_PORT "sdram_dq_io[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[8]" B21;
IO_PORT "sdram_dq_io[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[9]" A21;
IO_PORT "sdram_dq_io[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[10]" B20;
IO_PORT "sdram_dq_io[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[11]" A20;
IO_PORT "sdram_dq_io[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[12]" A15;
IO_PORT "sdram_dq_io[12]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[13]" A16;
IO_PORT "sdram_dq_io[13]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[14]" B15;
IO_PORT "sdram_dq_io[14]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq_io[15]" B16;
IO_PORT "sdram_dq_io[15]" IO_TYPE=LVCMOS33;

IO_LOC "sdram_addr_o[0]" D19;
IO_PORT "sdram_addr_o[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[1]" E19;
IO_PORT "sdram_addr_o[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[2]" C19;
IO_PORT "sdram_addr_o[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[3]" C18;
IO_PORT "sdram_addr_o[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[4]" E16;
IO_PORT "sdram_addr_o[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[5]" D15;
IO_PORT "sdram_addr_o[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[6]" D14;
IO_PORT "sdram_addr_o[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[7]" A19;
IO_PORT "sdram_addr_o[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[8]" A18;
IO_PORT "sdram_addr_o[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[9]" C17;
IO_PORT "sdram_addr_o[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[10]" D20;
IO_PORT "sdram_addr_o[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[11]" D17;
IO_PORT "sdram_addr_o[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_addr_o[12]" B18;
IO_PORT "sdram_addr_o[12]" IO_TYPE=LVCMOS33;

IO_LOC "sdram_ba_o[0]" F15;
IO_PORT "sdram_ba_o[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ba_o[1]" C20;
IO_PORT "sdram_ba_o[1]" IO_TYPE=LVCMOS33;

IO_LOC "sdram_dqm_o[0]" F14;
IO_PORT "sdram_dqm_o[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dqm_o[1]" F13;
IO_PORT "sdram_dqm_o[1]" IO_TYPE=LVCMOS33;

IO_LOC "sdram_clk_o" B17;
IO_PORT "sdram_clk_o" IO_TYPE=LVCMOS33;
IO_LOC "sdram_wen_n_o" D16;
IO_PORT "sdram_wen_n_o" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ras_n_o" F16;
IO_PORT "sdram_ras_n_o" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cas_n_o" E17;
IO_PORT "sdram_cas_n_o" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cs_n_o" F21;
IO_PORT "sdram_cs_n_o" IO_TYPE=LVCMOS33;
