IO_LOC  "usb_dxp_io" J19,H19;
IO_PORT "usb_dxp_io" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4;
IO_LOC  "usb_rxdp_i" H17,H18;
IO_PORT "usb_rxdp_i" IO_TYPE=LVDS25 PULL_MODE=NONE DIFF_RESISTOR=OFF BANK_VCCIO=3.3;
IO_LOC  "usb_rxdn_i" H20,G20;
IO_PORT "usb_rxdn_i" IO_TYPE=LVDS25 PULL_MODE=NONE DIFF_RESISTOR=OFF BANK_VCCIO=3.3;

IO_LOC  "usb_pullup_en_o" M17;
IO_PORT "usb_pullup_en_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "usb_term_dp_io" J16;
IO_PORT "usb_term_dp_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "usb_term_dn_io" AB16;
IO_PORT "usb_term_dn_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
