NET "clock_i"   LOC =  "P55" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK | PERIOD = 83.33 ns;
NET "reset_n_i" LOC =  "P127" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<0>" LOC =  "P105" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<1>" LOC =  "P104" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<2>" LOC =  "P102" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<3>" LOC =  "P101" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<4>" LOC =  "P100" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<5>" LOC =  "P99" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<6>" LOC =  "P98" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_i<7>" LOC =  "P97" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "control_i" LOC =  "P95" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<0>" LOC =  "P94" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<1>" LOC =  "P93" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<2>" LOC =  "P92" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<3>" LOC =  "P88" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<4>" LOC =  "P87" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<5>" LOC =  "P85" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<6>" LOC =  "P84" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<7>" LOC =  "P83" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<8>" LOC =  "P82" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
NET "data_o<9>"   LOC =  "P81" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;
