IO_LOC  "j3_high_io[13]" C2;
IO_PORT "j3_high_io[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[14]" B2;
IO_PORT "j3_high_io[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[15]" F1;
IO_PORT "j3_high_io[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[16]" F2;
IO_PORT "j3_high_io[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[17]" A1;
IO_PORT "j3_high_io[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[18]" E1;
IO_PORT "j3_high_io[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[19]" D1;
IO_PORT "j3_high_io[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[20]" E3;
IO_PORT "j3_high_io[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[21]" J2;
IO_PORT "j3_high_io[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[22]" J1;
IO_PORT "j3_high_io[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[23]" H4;
IO_PORT "j3_high_io[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[24]" G4;
IO_PORT "j3_high_io[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[25]" H2;
IO_PORT "j3_high_io[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[26]" H1;
IO_PORT "j3_high_io[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[27]" J7;
IO_PORT "j3_high_io[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[28]" K7;
IO_PORT "j3_high_io[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[29]" L8;
IO_PORT "j3_high_io[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[30]" L7;
IO_PORT "j3_high_io[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[31]" K10;
IO_PORT "j3_high_io[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[32]" L10;
IO_PORT "j3_high_io[32]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[33]" K9;
IO_PORT "j3_high_io[33]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[34]" L9;
IO_PORT "j3_high_io[34]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[35]" K8;
IO_PORT "j3_high_io[35]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[36]" J8;
IO_PORT "j3_high_io[36]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[37]" F6;
IO_PORT "j3_high_io[37]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[38]" F7;
IO_PORT "j3_high_io[38]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[39]" J10;
IO_PORT "j3_high_io[39]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_high_io[40]" J11;
IO_PORT "j3_high_io[40]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
