IO_LOC  "j3_low_io[1]" K2;
IO_PORT "j3_low_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[2]" K1;
IO_PORT "j3_low_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[3]" L1;
IO_PORT "j3_low_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[4]" L2;
IO_PORT "j3_low_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[5]" K4;
IO_PORT "j3_low_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[6]" J4;
IO_PORT "j3_low_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[7]" G1;
IO_PORT "j3_low_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[8]" G2;
IO_PORT "j3_low_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[9]" L3;
IO_PORT "j3_low_io[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j3_low_io[10]" L4;
IO_PORT "j3_low_io[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
