IO_LOC  "j4_io[0]" G10;
IO_PORT "j4_io[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[1]" G11;
IO_PORT "j4_io[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[2]" D10;
IO_PORT "j4_io[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[3]" D11;
IO_PORT "j4_io[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[4]" B10;
IO_PORT "j4_io[4]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[5]" B11;
IO_PORT "j4_io[5]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[6]" C10;
IO_PORT "j4_io[6]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[7]" C11;
IO_PORT "j4_io[7]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
