IO_LOC  "j4_io[1]" G10;
IO_PORT "j4_io[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[2]" D10;
IO_PORT "j4_io[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[3]" B10;
IO_PORT "j4_io[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j4_io[4]" C10;
IO_PORT "j4_io[4]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
