IO_LOC  "j5_io[0]" A10;
IO_PORT "j5_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[1]" A11;
IO_PORT "j5_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[2]" E10;
IO_PORT "j5_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[3]" E11;
IO_PORT "j5_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[4]" L11;
IO_PORT "j5_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[5]" K11;
IO_PORT "j5_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[6]" K5;
IO_PORT "j5_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[7]" L5;
IO_PORT "j5_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
