IO_LOC  "j5_io[1]" A10;
IO_PORT "j5_io[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[2]" E10;
IO_PORT "j5_io[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[3]" L11;
IO_PORT "j5_io[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j5_io[4]" K5;
IO_PORT "j5_io[4]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
