IO_LOC  "j5_io[1]" A10;
IO_PORT "j5_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[5]" A11;
IO_PORT "j5_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[2]" E10;
IO_PORT "j5_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[6]" E11;
IO_PORT "j5_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[3]" L11;
IO_PORT "j5_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[7]" K11;
IO_PORT "j5_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[4]" K5;
IO_PORT "j5_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "j5_io[8]" L5;
IO_PORT "j5_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
