IO_LOC  "j6_io[1]" G5;
IO_PORT "j6_io[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[5]" F5;
IO_PORT "j6_io[5]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[2]" G8;
IO_PORT "j6_io[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[6]" G7;
IO_PORT "j6_io[6]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[3]" H7;
IO_PORT "j6_io[3]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[7]" H8;
IO_PORT "j6_io[7]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[4]" J5;
IO_PORT "j6_io[4]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[8]" H5;
IO_PORT "j6_io[8]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
