IO_LOC  "j6_io[5]" G5;
IO_PORT "j6_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[1]" F5;
IO_PORT "j6_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[6]" G8;
IO_PORT "j6_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[2]" G7;
IO_PORT "j6_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[7]" H7;
IO_PORT "j6_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[3]" H8;
IO_PORT "j6_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[8]" J5;
IO_PORT "j6_io[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "j6_io[4]" H5;
IO_PORT "j6_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
