IO_LOC  "jtag_tdi_i" GA3;
IO_PORT "jtag_tdi_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "jtag_tdo_o" A2;
IO_PORT "jtag_tdo_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "jtag_tms_i" B1;
IO_PORT "jtag_tms_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "jtag_tck_i" C1;
IO_PORT "jtag_tck_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
