IO_LOC  "usb_p_io" L6;
IO_PORT "usb_p_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "usb_n_io" K6;
IO_PORT "usb_n_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "usb_pull_io" E8;
IO_PORT "usb_pull_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
