NET "leds"      LOC =  "P75" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "swdio"     LOC =  "P30" | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "swclk"     LOC =  "P32" | IOSTANDARD = LVCMOS18 | SLEW = SLOW;
NET "swclk" CLOCK_DEDICATED_ROUTE = FALSE;
