IO_LOC "eth_txd[0]" R5;
IO_LOC "eth_txd[1]" T5;
IO_LOC "eth_txd[2]" F1;
IO_LOC "eth_txd[3]" E1;
IO_LOC "eth_rxd[0]" R4;
IO_LOC "eth_rxd[1]" T4;
IO_LOC "eth_rxd[2]" D1;
IO_LOC "eth_rxd[3]" C1;
IO_PORT "eth_txd[0]" IO_TYPE=LVCMOS33;
IO_PORT "eth_txd[1]" IO_TYPE=LVCMOS33;
IO_PORT "eth_txd[2]" IO_TYPE=LVCMOS33;
IO_PORT "eth_txd[3]" IO_TYPE=LVCMOS33;
IO_PORT "eth_rxd[0]" IO_TYPE=LVCMOS33  PULL_MODE=UP;
IO_PORT "eth_rxd[1]" IO_TYPE=LVCMOS33;
IO_PORT "eth_rxd[2]" IO_TYPE=LVCMOS33;
IO_PORT "eth_rxd[3]" IO_TYPE=LVCMOS33;

IO_LOC "eth_col" T2;
IO_LOC "eth_crs" T3;
IO_LOC "eth_mdc" C2;
IO_LOC "eth_mdio" B1;
IO_PORT "eth_col" IO_TYPE=LVCMOS33;
IO_PORT "eth_crs" IO_TYPE=LVCMOS33;
IO_PORT "eth_mdc" IO_TYPE=LVCMOS33;
IO_PORT "eth_mdio" IO_TYPE=LVCMOS33;

IO_LOC "eth_ref_clk" H14;
IO_LOC "eth_rstn" C7;
IO_LOC "eth_rx_clk" L16;
IO_LOC "eth_rx_dv" N16;
IO_LOC "eth_rxerr" G5;
IO_LOC "eth_tx_clk" F4;
IO_LOC "eth_tx_en" J16;
IO_LOC "btn[0]" E14;
IO_LOC "btn[1]" B4;
IO_LOC "btn[2]" E6;
IO_LOC "btn[3]" K16;
IO_LOC "led[0]" M15;
IO_LOC "led[1]" F3;
IO_LOC "led[2]" A3;
IO_LOC "led[3]" B16;
IO_LOC "uart_rxd_out" A15;
IO_LOC "uart_txd_in" B3;

IO_PORT "eth_ref_clk" IO_TYPE=LVCMOS33;
IO_PORT "eth_rstn" IO_TYPE=LVCMOS33;
IO_PORT "eth_rx_clk" IO_TYPE=LVCMOS33;
IO_PORT "eth_rx_dv" IO_TYPE=LVCMOS33;
IO_PORT "eth_rxerr" IO_TYPE=LVCMOS33;
IO_PORT "eth_tx_clk" IO_TYPE=LVCMOS33;
IO_PORT "eth_tx_en" IO_TYPE=LVCMOS33;
IO_PORT "btn[0]" IO_TYPE=LVCMOS33;
IO_PORT "btn[1]" IO_TYPE=LVCMOS33;
IO_PORT "btn[2]" IO_TYPE=LVCMOS33;
IO_PORT "btn[3]" IO_TYPE=LVCMOS33;
IO_PORT "led[0]" IO_TYPE=LVCMOS33;
IO_PORT "led[1]" IO_TYPE=LVCMOS33;
IO_PORT "led[2]" IO_TYPE=LVCMOS33;
IO_PORT "led[3]" IO_TYPE=LVCMOS33;
IO_PORT "uart_rxd_out" IO_TYPE=LVCMOS33;
IO_PORT "uart_txd_in" IO_TYPE=LVCMOS33;

IO_LOC "clk100mhz" L2;
IO_PORT "clk100mhz" IO_TYPE=LVCMOS33 PULL_MODE=UP;
