NET "clk100mhz"          LOC =  "P55" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK | PERIOD = 10 ns;
NET "uart_rxd_out"       LOC = "P74" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "uart_txd_in"       LOC = "P75" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_col"       LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_crs"       LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_mdc"       LOC = "P80" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_mdio"       LOC = "P81" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_ref_clk"       LOC = "P82" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rstn"       LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rx_clk"       LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rx_dv"       LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK;
NET "eth_rxd<0>"      LOC = "P87" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rxd<1>"      LOC = "P88" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rxd<2>"      LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rxd<3>"      LOC = "P93" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_rxerr"      LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_tx_clk"      LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_tx_en"      LOC = "P97" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_txd<0>"      LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_txd<1>"      LOC = "P99" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_txd<2>"      LOC = "P100" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "eth_txd<3>"      LOC = "P101" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "btn<0>"      LOC = "P102" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "btn<1>"      LOC = "P104" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "btn<2>"      LOC = "P105" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "btn<3>"      LOC = "P41" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "led<0>"      LOC = "P43" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "led<1>"      LOC = "P44" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "led<2>"      LOC = "P45" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "led<3>"      LOC = "P46" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
