set_io led_r_o  39
set_io led_g_o  40
set_io led_b_o  41
set_io usb_dm_io 36
set_io usb_dp_io 37
set_io external_io[7] 32
set_io external_io[6] 31
set_io external_io[5] 28
set_io external_io[4] 27
set_io external_io[3] 26
set_io external_io[2] 25
set_io external_io[1] 23
set_io external_io[0] 21
set_io clk16_i 20
set_io button_i 42
set_io spi_miso_i 17
set_io spi_mosi_o 14
set_io spi_cs_n_o 16
set_io spi_sck_o  15
set_io usb_dp_pu_io 43
